<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @spree_admin_location.address %>
</p>

<p>
  <strong>Location name:</strong>
  <%= @spree_admin_location.location_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @spree_admin_location.phone_number %>
</p>

<p>
  <strong>Distric:</strong>
  <%= @spree_admin_location.distric %>
</p>

<p>
  <strong>City:</strong>
  <%= @spree_admin_location.city %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @spree_admin_location.postcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @spree_admin_location.country %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @spree_admin_location.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @spree_admin_location.lng %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @spree_admin_location.reference %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @spree_admin_location.enabled %>
</p>

<%= link_to 'Edit', edit_spree_admin_location_path(@spree_admin_location) %> |
<%= link_to 'Back', spree_admin_locations_path %>
