<% content_for :head do %>
        <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=true&libraries=places" %>
<% end %>

<ul id="search_box_tabs" class="nav nav-tabs">
    <%= content_tag :li, class: "active" do %>
      <a data-toggle="tab" href=#hotel class="active"%> Hotel </a>
    <% end %>
</ul>

<div id="tabcontent" class="tab-content">
    <% prefix = "hotel_" %>
    <div id=<%="#{prefix}fields"%> class="tab-pane fade active in" >
      <ul class="alpha twelve columns omega" >
          <%= search_field_tag :location_search, params[:location_search], :class => "alpha twelve columns"%>
          <%= hidden_field_tag :location_lat %>
          <%= hidden_field_tag :location_lng%>
          <%= label_tag Spree.t(:checkin)%>
          <%= text_field_tag :arrivalDate, (Time.now).strftime("%m-%d-%Y"), :class => 'datepicker' %>
          <%= label_tag Spree.t(:checkout)%>
          <%= text_field_tag :departureDate, (Time.now + 3.days).strftime("%m-%d-%Y"), :class => 'datepicker'  %>
		    <div id="select-container", class="alpha columns four omega">
          <%= field_set_tag "Room 1" do %>
            <%= label_tag Spree.t(:adults)%>
            <%= select_tag "roomGroup[room1][numberOfAdults]", options_for_select([["1", "1"], ["2", "2"], ["3", "3"]]) %>
            <%= label_tag Spree.t(:children)%>
            <%= select_tag "roomGroup[room1][numberOfChildren]", options_for_select([["0", "0"], ["1", "1"], ["2", "2"], ["3", "3"]]) %>
		  	<% end %>
		    </div>
        <button id="add">Add Room</button>

      </ul>
    </div>
</div>
