<%= form_for :order, :url => populate_orders_path do |f| %>
  <div id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

        <%= hidden_field_tag "checkout", true %>
        <%= hidden_field_tag "hotelId", @hotel_summary['hotelId']  %>
        <%= hidden_field_tag "arrivalDate", params[:arrivalDate]  %>
        <%= hidden_field_tag "departureDate",  params[:departureDate] %>
        <%if r['RateInfos']['RateInfo']['RoomGroup']['Room'].class == Hash%>
            <%= hidden_field_tag "rateKey", r['RateInfos']['RateInfo']['RoomGroup']['Room']['rateKey']  %>
        <%else%>
            <%= hidden_field_tag "rateKey", r['RateInfos']['RateInfo']['RoomGroup']['Room'].first['rateKey'] %>
        <%end%>
        <%= hidden_field_tag "roomTypeCode", r['roomTypeCode']  %>
        <%= hidden_field_tag "rateCode",  r['rateCode'] %>
        <%= hidden_field_tag "chargeableRate", r['RateInfos']['RateInfo']['ChargeableRateInfo']['@total'] %>
        <%= hidden_field_tag "numberOfAdults", r['rateOccupancyPerRoom'] %>
        <%= hidden_field_tag "numberOfAdults", r['rateOccupancyPerRoom'] %>
        <% @rooms.each do |room| %>
            <%= hidden_field_tag room, params[room] %>
        <% end %>

        <!-- TODO, we should put a choice list for the different bed types if the user would like to select them -->
        <%= hidden_field_tag "bedTypeId", r['BedTypes']['BedType']['@id'] %>

    <%# if @product.price_in(current_currency) and !@prodct.price.nil? %>
      <div data-hook="product_price" class="columns five">

        <div id="product-price">
          <h6 class="product-section-title"><%= Spree.t(:price) %></h6>
          <div>
            <% averageBaseRate=  r['RateInfos']['RateInfo']['ChargeableRateInfo']['@averageBaseRate'].to_f.ceil  %>
            <% averageRate = r['RateInfos']['RateInfo']['ChargeableRateInfo']['@averageRate'].to_f.ceil %>
            <% if averageBaseRate > averageRate %>
                Before: <%= averageBaseRate %>,
                <%= r['RateInfos']['RateInfo']['promoDescription'] %>  </br >
            <%end%>
            <span class="price selling" itemprop="price">
              <%= averageRate %>
            </span>
            <span itemprop="priceCurrency" content="<%= r['RateInfos']['RateInfo']['ChargeableRateInfo']['@currencyCode'] %>"></span>
          </div>

        </div>

        <div class="add-to-cart">
          <%= hidden_field_tag :quantity, 1, :class => 'title', :min => 1 %>
          <%= button_tag :class => 'large primary', :id => 'add-to-cart-button', :type => :submit do %>
            <%= Spree.t(:book) %>
          <% end %>
        </div>
      </div>
    <%# end %>
  </div>
<% end %>
