<%= image_tag @hotel_images['HotelImage'].first['url'] %>


Name</br>

<%= @hotel_summary['name']%>

</br>

Description</br>
<p><%= @hotel_detail['locationDescription']%></p>

</br>
</br>

<% if @availability.class == Array %>
	<% @availability.each do |r|%>
        <h3><%= r['rateDescription'] %></h3></br>
        <h4><%= r['BedTypes']['BedType']['description']%></h4>  </br>
        <% r['ValueAdds']['ValueAdd'].each do |add| %>
          <%= add["description"] %> </br>
        <% end %>
		<div id="cart-form" data-hook="cart_form">
		  <%= render :partial => 'cart_form', :locals => { :r => r }%>
		</div>
	<% end %>
<% else %>
		<%= @availability['rateDescription'] %></br>
		<div id="cart-form" data-hook="cart_form">
		  <%= render :partial => 'cart_form', :locals => { :r => @availability }%>
		</div>
<% end %>


</br>
</br>
