<%= image_tag @hotel_images['HotelImage'].first['url'] %>


Name</br>

<%= @hotel_summary['name']%>

</br>
</br>
</br>

Description</br>
<p><%= @hotel_detail['locationDescription']%></p>

</br>
</br>

<% if @availability.class == Array %>
	<% @availability.each do |r|%>
		<%= r['rateDescription'] %></br>
		<div id="cart-form" data-hook="cart_form">
		  <%= render :partial => 'cart_form', :locals => { :r => r }%>
		</div>
	<% end %>
<% else %>
		<%= @availability['rateDescription'] %></br>
		<div id="cart-form" data-hook="cart_form">
		  <%= render :partial => 'cart_form', :locals => { :r => @availability }%>
		</div>
<% end %>




</br>
</br>
