Name</br>

<%= @hotel_summary['name']%>

</br>
</br>
</br>

          <div id="cart-form" data-hook="cart_form">
            <%#= render :partial => 'cart_form' %>
          </div>


</br>
</br>
</br>

locationDescription</br>
<%= @hotel_detail['locationDescription']%>

</br>
</br>

<% if @availability.class == Array %>
	<% @availability.each do |r|%>
		<%= r['rateDescription'] %></br>
		<div id="cart-form" data-hook="cart_form">
		  <%= render :partial => 'cart_form', :locals => { :r => r }%>
		</div>
	<% end %>
<% else %>
		<%= @availability['rateDescription'] %></br>
		<div id="cart-form" data-hook="cart_form">
		  <%= render :partial => 'cart_form', :locals => { :r => @availability }%>
		</div>
<% end %>




</br>
</br>
